@model IEnumerable<Byporten.availablepositions>
@using System.Linq

@{
    ViewBag.Title = "Alle stillinger";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="page-header">Alle stillingene</h2>

    <p class="createNewButton">
        @Html.ActionLink("Lag ny stilling", "createNewPosition")
    </p>

    @if (!Model.Any())
    {
        <p class="lead page-header">Det finnes ingen artikler</p>
    }
    else
    {
        foreach (var position in Model.Reverse())
        {
            <div class="row itemInModel">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <h3>@Html.DisplayFor(modelitem => position.Title)</h3>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <p><strong>Sluttdato:</strong></p>
                    <p>@Html.DisplayFor(modelitem => position.ExpireDate)</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    @Html.ActionLink("Endre", "EditPosition", new { id = position.Id }, new { @class = "link-button btn btn-primary" })
                    @Html.ActionLink("Detaljer", "PositionDetails", new { id = position.Id }, new { @class = "link-button btn btn-info" })
                    @Html.ActionLink("Slett", "DeletePosition", new { id = position.Id }, new { @class = "link-button btn btn-danger" })
                </div>
            </div>
        }
    }

    
</div>