@model Byporten.butikker

@{
    ViewBag.Title = "Detaljer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="page-header">Detaljer</h2>
    <div class="view-articles-details-delete">
        <div class="title">
            <p class="lead">Tittel</p>
            @Html.DisplayFor(model => model.Navn)
        </div>
        <hr />
        <div class="content">
            <p class="lead">Innhold</p>
            @Html.DisplayFor(model => model.Beskrivelse)
        </div>
        <hr />
        <div class="other">
            <p><b>Kategori:</b> @Html.DisplayFor(model => model.Kategori)</p>
            <p><b>Hjemmeside:</b> @Html.DisplayFor(model => model.Hjemmeside)</p>
            <p><b>Logo:</b> @Html.DisplayFor(model => model.Logo)</p>
            <img class="image-placeholder" src="~/images/uploads/@Html.DisplayFor(model => model.Logo)" />
            <hr />
            <p><b>Telefon:</b> @Html.DisplayFor(model => model.Telefon)</p>
        </div>
    </div>
    <p>
        @Html.ActionLink("Endre denne artikkelen!", "EditStore", new { id = Model.Id }) |
        @Html.ActionLink("Tilbake til artiklene", "viewAllStores")
    </p>

</div>