@model IEnumerable<Byporten.butikker>
@using System.Linq

@{
    ViewBag.Title = "Alle butikkene";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="page-header">Alle butikkene</h2>

    <p class="createNewButton">
        @Html.ActionLink("Legg til ny butikk", "CreateStore")
    </p>
    <hr />
    <div class="search-area">
        <form id="live-search" action="" method="post">
            <input type="search" class="search-bar" id="filterStore" placeholder="Søk igjennom butikkene!" />
        </form>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <p class="lead page-header">Det finnes ingen butikker</p>
    }
    else
    {
        foreach (var store in Model.Reverse())
        {
            <div class="row itemInModel">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <h3>@Html.DisplayFor(modelitem => store.Navn)</h3>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <p><strong>Kategori:</strong></p>
                    <p>@Html.DisplayFor(modelitem => store.Kategori)</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    @Html.ActionLink("Endre", "EditStore", new { id = store.Id }, new { @class = "link-button btn btn-primary" })
                    @Html.ActionLink("Detaljer", "StoreDetails", new { id = store.Id }, new { @class = "link-button btn btn-info" })
                    @Html.ActionLink("Slett", "DeleteStore", new { id = store.Id }, new { @class = "link-button btn btn-danger" })
                </div>
            </div>
        }
    }

    

</div>