@model IEnumerable<Byporten.butikker>
@using System.Linq

@{
    ViewBag.Title = "Alle butikkene";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="page-header">Alle butikkene</h2>

    <p class="createNewButton">
        @Html.ActionLink("Legg til ny butikk", "CreateStore")
    </p>

    @if (!Model.Any())
    {
        <p class="lead page-header">Det finnes ingen butikker</p>
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Navn</td>
                    <td>Kategori</td>
                    <td>Endre</td>
                    <td>Detaljer</td>
                    <td>Slett</td>
                </tr>
            </thead>

            @foreach (var item in Model.OrderBy(item => item.Navn))
            {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelitem => item.Navn)</td>
                    <td>@Html.DisplayFor(modelitem => item.Kategori)</td>
                    <td>@Html.ActionLink("Endre", "EditStore", new { id = item.Id }, new { @class = "link-button" })</td>
                    <td>@Html.ActionLink("Detaljer", "StoreDetails", new { id = item.Id }, new { @class = "link-button" })</td>
                    <td>@Html.ActionLink("Slett", "DeleteStore", new { id = item.Id }, new { @class = "link-button" })</td>
                </tr>
            </tbody>
            }
        </table>
    }

    

</div>