@model Byporten.Models.UserLoginModel
@{
    ViewBag.Title = "Kundeklubb";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container pushDown">
    <h3 class="page-header">Kundeklubben</h3>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <ul>
                <li>-20% på alle ordinære varer, samt -15% på skipakker hos G-Sport</li>
                <li>-30% på valgfri behandling hos Headmasters</li>
                <li>-20% på alle varer (unntatt Samsonite) hos BagOrama</li>
                <li>Kanelbolle kr 20,- (ord. pris kr 36,-) hos BIT</li>
                <li>-25% på all Basic VILA hos Camilla Risøe</li>
                <li>Gratis WiFi</li>
                <li>OG MASSE MASSE MER.....</li>

            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            @using (Html.BeginForm())
            {
                <div class="login-kunde-form">
                    <p class="lead">Logg inn</p>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Email)
                        @Html.TextBoxFor(u => u.Email, new { @placeholder = "E-post" })    
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Password)
                        @Html.PasswordFor(u => u.Password, new { @placeholder = "Passord" })     
                    </div>
                    @Html.ValidationSummary(true)
                    <input type="submit" value="Logg inn" class="reg-button" />
                    <hr />
                    @Html.ValidationMessage("Feil brukernavn eller passord")
                </div>
            }
            
        </div>
    </div>

   

</div>
