@model Byporten.Models.UserRegModel

@{
    ViewBag.Title = "Registrering";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container pushDown">
    @using (Html.BeginForm())
    {
        <p class="lead page-header">Registrering hos kundeklubben</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="info-form">
                    <p>Ved å registrere deg hos Byporten kundeklubb, vil du få tilgang til rabatter, gratis wifi, invitasjoner til events, uten å måtte betale noe!</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="reg-form">
                    <p class="lead">Opprett bruker</p>

                    @Html.ValidationSummary(true, "Kunne ikke registrere!")
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Name)
                        @Html.TextBoxFor(u => u.Name, new {@placeholder = "Navn*" })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Email)
                        @Html.TextBoxFor(u => u.Email, new {@placeholder ="Epost*" })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.EmailRepeat)
                        @Html.TextBoxFor(u => u.EmailRepeat, new {@placeholder ="Gjenta Epost*" })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.PhoneNumber)
                        @Html.TextBoxFor(u => u.PhoneNumber, new {@placeholder = "Mobilnummer" })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Gender)
                        @Html.DropDownListFor(u => u.Gender, new[] {
                            new SelectListItem() {Text = "Velg"},
                            new SelectListItem() {Text = "Kvinne"},
                            new SelectListItem() {Text = "Mann"}
                        })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Birthdate)
                        @Html.TextBoxFor(u => u.Birthdate, new { @placeholder = "Fødselsdato", @type = "date"})
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Zipcode)
                        @Html.Label("Fødselsår barn:")
                        @Html.DropDownListFor(u => u.BirthYearChild1, new[] {
                            new SelectListItem() {Text = "Velg"},
                            new SelectListItem() {Text = @DateTime.Now.Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-1).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-2).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-3).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-4).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-5).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-6).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-7).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-8).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-9).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-10).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-11).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-12).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-13).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-14).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-15).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-16).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-17).Year.ToString()}
                        })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.BirthYearChild2)
                        @Html.Label("Fødselsår barn:")
                        @Html.DropDownListFor(u => u.BirthYearChild2, new[] {
                            new SelectListItem() {Text = "Velg"},
                            new SelectListItem() {Text = @DateTime.Now.Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-1).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-2).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-3).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-4).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-5).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-6).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-7).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-8).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-9).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-10).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-11).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-12).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-13).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-14).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-15).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-16).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-17).Year.ToString()}
                        })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.BirthYearChild3)
                        @Html.Label("Fødselsår barn:")
                        @Html.DropDownListFor(u => u.BirthYearChild3, new[] {
                            new SelectListItem() {Text = "Velg"},
                            new SelectListItem() {Text = @DateTime.Now.Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-1).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-2).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-3).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-4).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-5).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-6).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-7).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-8).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-9).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-10).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-11).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-12).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-13).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-14).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-15).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-16).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-17).Year.ToString()}
                        })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.BirthYearChild4)
                        @Html.Label("Fødselsår barn:")
                        @Html.DropDownListFor(u => u.BirthYearChild4, new[] {
                            new SelectListItem() {Text = "Velg"},
                            new SelectListItem() {Text = @DateTime.Now.Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-1).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-2).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-3).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-4).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-5).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-6).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-7).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-8).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-9).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-10).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-11).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-12).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-13).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-14).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-15).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-16).Year.ToString()},
                            new SelectListItem() {Text = @DateTime.Now.AddYears(-17).Year.ToString()}
                        })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Interests)
                        @Html.TextBoxFor(u => u.Interests, new {@placeholder = "Interesser" })
                    </div>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(u => u.Password)
                        @Html.PasswordFor(u => u.Password, new {@placeholder = "Velg deg et passord" })
                    </div>
                    <input type="submit" value="Registrer" class="reg-button" />
                </div>
            </div>
        </div>

    }

</div>

