<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />

</head>
<body>

    <div class="hidden-menu-wrap">
        <div class="menu-header">
            <p class="lead"><span class="fa fa-caret-down"></span> Meny</p>
        </div>
        <ul class="main-navigation">
            <li>@Html.ActionLink("Forsiden", "Index", "Home")</li>
            <li>@Html.ActionLink("Aktuelt", "Aktuelt", "Home")</li>
            <li>@Html.ActionLink("Butikker", "Butikker", "Home")</li>
            <li>@Html.ActionLink("Kundeklubben", "Kundeklubb", "Home")</li>
            <li>@Html.ActionLink("Gavekort", "Gavekort", "Home")</li>
            <li>@Html.ActionLink("Senterinformasjon", "Senterinformasjon", "Home")</li>
            <li>@Html.ActionLink("Ledige Stillinger", "Stillinger", "Home")</li>
        </ul>
    </div> <!-- Hidden-menu-wrap end -->
        
    <div class="header-wrap">
        <div class="container-fluid">
            <h3 class="fa fa-bars pull-left menu-button"></h3>
            <!--LOGO-->
            <h3 class="fa fa-search pull-right search-button"></h3>
        </div>
    </div> <!-- Header-wrap end -->


    <div class="render-body">
        @RenderBody()
    </div>











    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
</body>
</html>
