<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/senterinfo.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/client_responsive.css" rel="stylesheet" />
    <link href="~/Content/kundeklubben.css" rel="stylesheet" />
</head>
<body>

    <div class="hidden-menu-wrap">
        <div class="menu-header">
            <p class="lead"><span class="fa fa-caret-down"></span> Meny</p>
        </div>
        <ul class="main-navigation">
            <li>@Html.ActionLink("Forsiden", "Index", "Home")</li>
            <li>@Html.ActionLink("Aktuelt", "Aktuelt", "Home")</li>
            <li>@Html.ActionLink("Butikker", "Butikker", "Home")</li>
            <li>@Html.ActionLink("Kundeklubben", "Kundeklubb", "Home")</li>
            <li>@Html.ActionLink("Gavekort", "Gavekort", "Home")</li>
            <li>@Html.ActionLink("Senterinformasjon", "Senterinformasjon", "Home")</li>
            <li>@Html.ActionLink("Ledige Stillinger", "Stillinger", "Home")</li>
            <li>@Html.ActionLink("ADMINISTRATOR", "Portal", "Admin")</li>
        </ul>
    </div> <!-- Hidden-menu-wrap end -->
        
    <div class="header-wrap">
        <div class="container">
            <h3 class="fa fa-bars pull-left menu-button"></h3>
            <!--LOGO-->
            <a href="@Url.Action("index")">
                <h2 class="logo desktop-logo">Byporten<span class="fa fa-stumbleupon"></span>Shopping</h2>
                <h2 class="logo mobile-logo">Byporten<span class="fa fa-stumbleupon"></span></h2>
            </a>
            <!--SEARCH-->
            <h3 class="fa fa-search search-button"></h3>
        </div>
    </div> <!-- Header-wrap end -->
    <div class="search-wrapper">
        <div class="container mobile-container">
            <div class="search-area">
                <button class="go-search-button"><span class="fa fa-search"></span></button>
                <input type="search" class="top-search-bar" placeholder="Søk..." />
            </div>
        </div>
    </div>


    <div class="render-body">
        @RenderBody()
    </div>

    <div class="footer-wrap">
        <div class="footer-main">
            <div class="container">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <h2>Meny</h2>
                    <ul class="footer-navigation">
                        <li>@Html.ActionLink("Forsiden", "Index", "Home")</li>
                        <li>@Html.ActionLink("Aktuelt", "Aktuelt", "Home")</li>
                        <li>@Html.ActionLink("Butikker", "Butikker", "Home")</li>
                        <li>@Html.ActionLink("Kundeklubben", "Kundeklubb", "Home")</li>
                        <li>@Html.ActionLink("Gavekort", "Gavekort", "Home")</li>
                        <li>@Html.ActionLink("Senterinformasjon", "Senterinformasjon", "Home")</li>
                        <li>@Html.ActionLink("Ledige Stillinger", "Stillinger", "Home")</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-2 col-xs-12">
                    <h2>Åpningstider</h2>
                    <p>Hverdager: 09.00 - 21.00</p>
                    <p>Lørdager 10.00 - 21.00</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h2>Sosiale medier</h2>
                    <p class="fa fa-facebook fa-2x"></p>
                    <p class="fa fa-instagram fa-2x"></p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h2>Kontaktinfo</h2>
                    <p>Informasjonsskranken 23 36 21 30 (Åpent 11-20/12-19)</p>
                    <p>Driftsteknikere 46 76 46 56 (Åpent 8-16)</p>
                    <p>Varemottak: 93 26 56 74 (Åpent 7-15)</p>
                    <p>Senterdirektør: 23 36 20 00 </p>
                    <p>elisabeth.jensen@byporten.no</p>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <div class="container-fluid">
                &copy; Gruppe 27
            </div>
        </div>
    </div>





    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
</body>
</html>
