<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/senterinfo.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/client_responsive.css" rel="stylesheet" />
    <link href="~/Content/kundeklubben.css" rel="stylesheet" />
    <link href="~/Content/butikker.css" rel="stylesheet" />
    <link href="~/Content/stillinger.css" rel="stylesheet" />
    <link href="~/Content/gavekort.css" rel="stylesheet" />

</head>
<body>

    <div class="hidden-menu-wrap">
        <div class="menu-header">
            <p class="lead close-menu"><span class="fa fa-remove"></span> Lukk</p>
        </div>
        <ul class="main-navigation">
            <li class="mobile-search-bar">
                <form method="post" action="">
                    <fieldset>
                        <input type="search" class="top-search-bar" placeholder="Søk i fritekst" />
                        <button type="submit" class="search-button"><span class="fa fa-search"></span></button>
                    </fieldset>
                </form>
            </li>
            <li>@Html.ActionLink("Forsiden", "Index", "Home")</li>
            <li>@Html.ActionLink("Aktuelt", "Aktuelt", "Home")</li>
            <li>@Html.ActionLink("Butikker", "Butikker", "Home")</li>
            <li>@Html.ActionLink("Kundeklubben BYPORTEN+", "Kundeklubb", "Home")</li>
            <li>@Html.ActionLink("Gavekort", "Gavekort", "Home")</li>
            <li>@Html.ActionLink("Senterinformasjon", "Senterinformasjon", "Home")</li>
            <li>@Html.ActionLink("Ledige stillinger", "Stillinger", "Home")</li>
            <li>@Html.ActionLink("ADMINISTRATOR", "Portal", "Admin")</li>
        </ul>
    </div> <!-- Hidden-menu-wrap end -->
    
    <div class="master">
        <div class="header-wrap">
            <div class="container">
                <!--LOGO-->
                <a href="@Url.Action("index")">
                    <h2 class="logo desktop-logo">Byporten<span class="fa fa-stumbleupon"></span>Shopping</h2>
                    <h2 class="logo mobile-logo">Byporten<span class="fa fa-stumbleupon"></span></h2>
                </a>
                <!--MOST USED LINKS MENU-->
                <ul class="top-nav-most-used">
                    <li class="hideOnSearch">@Html.ActionLink("Kundeklubben BYPORTEN+", "Kundeklubb", "Home")</li>
                    <li class="hideOnSearch">@Html.ActionLink("Butikker", "Butikker", "Home")</li>
                    <li class="hideOnSearch">@Html.ActionLink("Ledige stillinger", "Stillinger", "Home")</li>
                    <li>
                        <form method="post" action="">
                            <input type="search" class="searchbar-top" id="iconified" placeholder="Søk i fritekst.."/>
                        </form>
                    </li>
                    <li class="search-trigger"><a class="search-top-button"><span class="fa fa-search"></span></a></li>
                    <li class="menu-trigger"><a class="menu-button"><span class="fa fa-bars"></span></a></li>      
                </ul>
                <!--<h3 class="fa fa-bars pull-right menu-button"></h3>-->
                <!--SEARCH-->
            </div>
        </div> <!-- Header-wrap end -->
        <div class="render-body">
            @RenderBody()
        </div>

        <div class="to-top">
            <center>
                <i class="fa fa-chevron-up"></i>
            </center>
        </div>

        <div class="footer-wrap">
            <div class="footer-main">
                <div class="container">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="footer-navigation">
                            <li class="footer-heading">Åpningstider</li>
                            <li>Hverdager: 09.00 - 21.00</li>
                            <li>Lørdager 10.00 - 21.00</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="footer-navigation social">
                            <li class="footer-heading">Sosiale medier</li>
                            <li><a class="fa fa-facebook-square fa-2x" href="https://www.facebook.com/Bypadmin?ref=br_rs"></a></li>
                            <li><a class="fa fa-instagram fa-2x" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="footer-navigation">
                            <li class="footer-heading">Kontaktinfo</li>
                            <li>Informasjonsskranken 23 36 21 30 (Åpent 11-20/12-19)</li>
                            <li>Driftsteknikere 46 76 46 56 (Åpent 8-16)</li>
                            <li>Varemottak: 93 26 56 74 (Åpent 7-15)</li>
                            <li>Senterdirektør: 23 36 20 00 </li>
                            <li>
                                <a href="mailto:&#101;&#108;&#105;&#115;&#097;&#098;&#101;&#116;&#104;&#046;&#106;&#101;&#110;&#115;&#101;&#110;&#064;&#098;&#121;&#112;&#111;&#114;&#116;&#101;&#110;&#046;&#110;&#111;">Send mail til senterdirektør, Elisabeth</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <hr class="divider" />
            </div>
            <div class="footer-end">
                <div class="container">
                    &copy; Gruppe 27
                </div>
            </div>
        </div>
    </div>






    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/plugins.js"></script>
</body>
</html>
